:root {
    --field-margin: 0px;
}

.field-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.field-container label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.field-container input[type="date"] {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.field-container input[type="date"]:focus {
    outline: none;
    border-color: #3f51b5;
    /* Material-UI primary color */
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
    /* Light blue shadow for focus */
}

/* Custom margin for the container */


.field-container {
    margin: var(--field-margin);
}
.field-container label input[type="date"].incomplete {
    border: 1px solid red;
}