.text-field {
  height: 100%;
  /* width: 30%; */
  max-width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  padding: var(--spacing);
  border-radius: 4px;
  border: 1px solid var(--background-color);
}

.text-field label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 0 0;
  padding: 1%;
}

.text-field input {
  margin: var(--margin);
  padding: 8px;
  height: 16px;
  width: 80%;
  font-size: 16px;
  color: var(--font-color);
  border-radius: 4px;
  border: 1px solid var(--background-color);
  /* transition: border-color 0.3s ease; */
  text-transform: var(--text-transform);
  background-color: var(--input-bg);
}

input::placeholder {
  color: var(--font-color);
  opacity: 1;
}

.text-field input:focus {
  outline: none;
  border-color: #2196f3;
}
