.text-field {
  height: 100%;
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.text-field label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 0 0;
  padding: 1%;
}

.text-field input {
  margin: var(--margin);
  padding: 10px;
  height: 16px;
  width: 80%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  transition: border-color 0.3s ease;
}

.text-field input:focus {
  outline: none;
  border-color: #2196f3;
}
