

.h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.typography-body1 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.typography-body2 {
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

.link {
    color: #3f51b5;
    text-decoration: none;
}